body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #000dc1, #00065B);
  color: white;
  overflow-x: hidden;
}

.logo-placeholder img {
  width: auto;
  height: 350px;
}
/* Navbar */
.navbar {
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #694fff;
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
  opacity: 50%;
}

.nav-btn .nav-icon {
  width: 35px;
  height: 35px;
}

.nav-btn.active {
  background-color: #A8CF45;
  color: #00065B;
  opacity: 100%;
}
.tooltip {
  position: absolute;
  right: 110%;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  white-space: nowrap;
  color: white;
}

/* Landing */
.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green-text {
  color: #A8CF45;
}
.landing-container h2{
  text-align: center;
}

/* About */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 2rem;
}
.about-card {
  background: white;
  color: #00065B;
  padding: 2rem;
  border-radius: 20px;
  width: 50%;
}

/* Services */
.services-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 4rem 2rem;
}
.services-card {
  background: white;
  color: #00065B;
  border-radius: 20px;
  padding: 2rem;
  width: 40%;
}
.services-card button {
  background: none;
  border: none;
  color: #00065B;
  cursor: pointer;
  font-weight: bold;
}
.services-card button:hover {
  color: #A8CF45;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: rgba(227, 227, 227, 0.85);
  border-radius: 20px;
  display: flex;
  padding: 2rem;
  width: 70%;
  color: #00065B;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}