@font-face {
  font-family: "Aller";
  src: url("../src/assets/Fonts/aller.light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aller";
  src: url("../src/assets/Fonts/aller.regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aller";
  src: url("../src/assets/Fonts/aller.bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}